<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <h1>Formulario</h1>

    <form action="/formulario" method= "POST">

         <label>Nombre del producto:</label><br>
    <input type="text" name="nombre" required><br><br>

    
    <label>Precio del producto:</label><br>
    <input type="number" name="precio" required><br><br>

    
    <label>Stock del producto:</label><br>
    <input type="text" name="stock" required><br><br>

    <button type="submit">Registrar</button>

    </form>
</body>
</html>